<% include ../partials/_head.ejs %>
<section class="profile login">
  <div class="">
    <h1>Welcome <%= currentUser && currentUser.name %></h1>
  </div>
  <!-- user click on this link to make a new plan  -->
  <a class="create-new-plan-link" href="/profile/newplan">Update Profile</a>
  <% for (const item of currentUser.plans) { %>
         <!-- render plans -->
         <div class="plan">
           <h1>Name: <%= item.name %></h1>
             <div class="item-container">
               <p class="plan-line">Carbohydrate:<%= item.Carbohydrate %>g</p>
               <p class="plan-line">Protein: <%= item.protein %>g</p>
               <p class="plan-line">fat: <%= item.fat %>g</p>
               <p class="plan-line">Calorie: <%= item.calorie %></p>
             </div>
         </div>
         <button id=<%=item._id%>>Delete</button>
       <% } %>
</section>
<% include ../partials/_footer.ejs %>
