<% include ../partials/_head.ejs %>
 <section class="profile login">
   <div class="">
     <h1>Welcome <%= currentUser && currentUser.name %></h1>
   </div>
   <!-- user click on this link to make a new plan  -->
   <a class="create-new-plan-link" href="/profile/newplan">Create a new plan</a>
     <% for (const plan of currentUser.plans) { %>
       <!-- render plans -->
       <div class="plan">
         <h1>Plan for: <%= plan.title %></h1>
         <% for (const item of plan.items) { %>
           <div class="item-container">
             <p class="plan-line">name: <%= item.name %></p>
             <p class="plan-line">calories: <%= item.calorie %>kcal</p>
             <!-- <p class="plan-line">carbohydrate: <%= item.carbohydrate %></p>
             <p class="plan-line">fat: <%= item.fat %></p> -->
           </div>
         <% } %>
         <p class="plan-line">Calories:<%= plan.Calories %></p>
       </div>
     <% } %>
 </section>
<% include ../partials/_footer.ejs %>
